body {
  background-color: white;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.about img {
  width: 150px;
  border-radius: 50%;
}

section {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
}

form div {
  margin-bottom: 15px;
}

h1, h2, h3 {
  color: #333;
  padding-left: 10px; ;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

p {
  color: #555;
}

form {
  margin-top: 20px;
}

input, textarea {
  display: roundedblock;
  margin-bottom: 15px;
  padding: 8px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}

img{
  display: block;
  margin: 20px auto;
  max-width: 100%;
  border-radius: 8px;
  width: 300px;

}